<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   <h1 align='center'>
    <img src="../assets/utvt.jpg" width="100" height="100">
  </h1>
  
  <h1 align='left'>
    nombre: {{ nombre }}
  </h1>
   <h1 align='left'>
    fecha N: {{ fn }}
  </h1>
   <h1 align='left'>
    hobbys: {{ hobbys }}
  </h1>
  <table>
  
  <tr>
    <td align="left"> {{fecha}} </td>
  </tr>
 </table>
 
 {{numeros}} --- {{numeros[0]}}<br>
 {{textos}} --- {{textos[0]}}<br>

 <p *ngFor="let peli of peliculas">
  -----------------------------------------------------------------------<br>
  {{peli["pelicula"]}}<br>
  {{peli.director}}<br>
  ----------------------------------------------------------------------<br>
</p>


<app-alumnos></app-alumnos>

<div>
  <form #userForms="ngForm" align="left">
    <hr/>
        {{userForms.value|json}}
    <hr/>
    Matricula:<br>
    <input type="text" name="matricula" ngModel><br>
    Nombre:<br>
    <input type="text" name="nombre" ngModel><br>
    APellido Paterno:<br>
    <input type="text" name="ap" ngModel><br>
    APellido Materno:<br>
    <input type="text" name="am" ngModel><br>
    Fecha de nacimiento:
    <input type="date" name="fn" ngModel><br>
    Genero:<input type="radio" name="genero" value="0" checked ngModel> Femenino
    <input type="radio" name="genero" value="1" ngModel> Masculino<br>
    Grupo:<br>
    <select name="grupo" ngModel>
        <option value="91">ITIC 91</option>
        <option value="92">ITIC 92</option>
        <option value="93">ITIC 93</option>
        <option value="94">ITIC 94</option>
      </select>
  </form>
</div> 


   
